.examlist {
  padding: 0 10px;
  height: 100vh;
}
.scroll-list-wrap {
  height: calc(100vh - 104px);
}
.detectDisplay {
  display: flex;
  align-items: center;
  border: 1px solid #666;
  margin: 20px 0;
  padding: 30px 20px;
}
.selectArea {
  flex: 0.85;
  font-size: 30px;
}
.itemList {
  margin: 20px 0 20px 50px;
}
.itemList span {
  padding-right: 20px;
}
.detectDisplay img {
  width: 80px;
  height: 80px;
  flex: 0.15;
}
