@font-face {
  font-family: "iconfont"; /* Project id 2520885 */
  src: url('iconfont.woff2?t=1621839881533') format('woff2'),
       url('iconfont.woff?t=1621839881533') format('woff'),
       url('iconfont.ttf?t=1621839881533') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconjiance:before {
  content: "\e608";
}

.iconjiancebaogao:before {
  content: "\e619";
}

.iconiconfontmima:before {
  content: "\e616";
}

.iconxiaoxi:before {
  content: "\e673";
}

.iconkehu:before {
  content: "\e603";
}

.iconjianchajihua:before {
  content: "\e621";
}

.iconlianxiren:before {
  content: "\e618";
}

.iconricheng:before {
  content: "\e613";
}

.iconguanyuwomen:before {
  content: "\e610";
}

.icondingwei:before {
  content: "\e6ad";
}

.icondingwei1:before {
  content: "\e7a3";
}

.iconlianhe4:before {
  content: "\e668";
}

.iconshouyexuanzhong:before {
  content: "\e678";
}

.icondaiban:before {
  content: "\e64a";
}

.icondaiban1:before {
  content: "\e61a";
}

.iconwodedangxuan:before {
  content: "\e607";
}

.iconwode:before {
  content: "\e642";
}

.iconbaojing:before {
  content: "\e605";
}

.iconbj:before {
  content: "\e606";
}

.iconshouyebeifen:before {
  content: "\e62a";
}

