<<<<<<< HEAD
.base_form{
  width: 80%;
  margin-top: 1rem;
  margin-left: 10%;
}

.cube-form-item{
  margin-bottom: 0.3rem;
  padding: 0;
}
.base_btn{
  background-color: rgb(94,122,242);
  margin-top: 0.5rem;
  height: 1rem;
}
/deep/ .cube-form_standard .cube-input input{
  height: 1rem;
  line-height: 1rem;
  padding: 0 0 0 20px;
}
.cube-input{
  border: 1px solid rgb(102, 102, 102);
}
.get-password{
  margin-top: 0.2rem;
  text-align: right;
=======
.base_form{
  width: 80%;
  margin-top: 1rem;
  margin-left: 10%;
}

.cube-form-item{
  margin-bottom: 0.3rem;
  padding: 0;
}
.base_btn{
  background-color: rgb(94,122,242);
  margin-top: 0.5rem;
  height: 1rem;
  font-size: 16px;
}
/deep/ .cube-form_standard .cube-input input{
  height: 1rem;
  line-height: 1rem;
  padding: 0 0 0 20px;
}
.cube-input{
  border: 1px solid rgb(102, 102, 102);
}
.get-password{
  margin-top: 0.2rem;
  text-align: right;
>>>>>>> a12425c58f240d1771b08f3a97b5d99a6a2c454e
}