@font-face {
  font-family: "iconfont"; /* Project id 2520885 */
  src: url('//at.alicdn.com/t/font_2520885_if3qrc0q3bn.woff2?t=1620896271298') format('woff2'),
       url('//at.alicdn.com/t/font_2520885_if3qrc0q3bn.woff?t=1620896271298') format('woff'),
       url('//at.alicdn.com/t/font_2520885_if3qrc0q3bn.ttf?t=1620896271298') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icondingwei:before {
  content: "\e6ad";
}

.icondingwei1:before {
  content: "\e7a3";
}

.iconlianhe4:before {
  content: "\e668";
}

.iconshouyexuanzhong:before {
  content: "\e678";
}

.icondaiban:before {
  content: "\e64a";
}

.icondaiban1:before {
  content: "\e61a";
}

.iconwodedangxuan:before {
  content: "\e607";
}

.iconwode:before {
  content: "\e642";
}

.iconbaojing:before {
  content: "\e605";
}

.iconbj:before {
  content: "\e606";
}

.iconshouyebeifen:before {
  content: "\e62a";
}
