.detection{
  padding: 0 10px;
  height: 100vh;
}
.scroll-list-wrap{
  height: calc(100vh - 104px); 
 
}
.taskList

{
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
  font-size: 14px;
  text-align: center;
}
.taskList li
{
  line-height: 100px;
  flex: 0 0 40%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 15px;
}

/deep/ .cube-scroll-content{
  height: 500px;
  padding: 15px;
}
/deep/ .van-tabs__content{
  // position: absolute;
  // left: 0;
  // top:0px;
  margin-top: 50px;
}
/deep/ .van-sticky{
  height: .8rem;
}
/deep/ .van-tabs__wrap{
  height: 1rem;
  ;
}
/deep/ .van-tabs__nav--line .van-tab{
  font-size: 30px;
}
/deep/ .van-tab__text--ellipsis{
  display: inline-block;
  height: 1rem;
  line-height: 1rem;

}
// /deep/ .van-tabs__content{
//   height: 300px;
//   border: 1px solid #666;

// }

// /deep/ .van-tab__pane-wrappe{
//   position: relative;
//   height: 300px;
// }
/deep/ .van-tab__pane{
  // height: 300px;
  position: relative;
  height: 100%;
  // display: flex;
  // align-items: center;
  
  
}
  
  /deep/ .van-tab__pane img{
    width: 80px;
    height: 80px;
    // position: absolute;
    // // left: 0;
    // top: 50%;
    // transform: translateY(-50%);
    flex: 0.15;
}
.detectDisplay{
  display: flex;
  align-items: center;
  border: 1px solid #666;
  margin: 20px 0;
  padding: 30px 20px;

}
/deep/ .van-tab__pane .imgLeft{
  left: 20px
}
/deep/ .van-tab__pane .imgRight{
  right: 0
}
// .rightContent{
//   margin: auto 0;
// }

.selectArea{
  
  flex: 0.85;
  
  font-size: 30px;
}
// .rightContent{
//   position: relative;
//   // height: 4rem;
// }
// .selectArea img{
//   width: 80px;
//   height: 80px;
// }
// .van-tab__pane::before,
// .van-tab__pane::after
// { 
//   content: "";
//   display: inline-block;
//   position: absolute;
//   left: 0;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 100px;
//   height: 100px;
// }
// .van-tab__pane::before{

//   left: 0;
//   background: url('~@/public/img/icon_management.png');
// }
// .van-tab__pane::after{
//   right: 0;
//   background: url('~@/public/img/chevron-right.png');
// }
.itemList{
  margin: 20px 0 20px 50px;
}
.itemList span{
  padding-right: 20px;
}


