.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  div {
    width: 100%;
  }
}

.nav-bar {
  border-bottom: 1px solid @subminGreyColor;
  margin-bottom: 0.5rem;

  /deep/.cube-tab {
    i {
      font-size: 48px;
    }

    div {
      margin-top: 0.3rem;
      font-size: @baseFontSize;
      height: 36px;
      line-height: 36px;
    }
  }
}

.num-detail {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid @subBlackColor;
  padding-bottom: 10px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  img {
    width: 200px;
  }

  ul {
    flex: 1;
    margin-left: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    li {
      background-color: #fff;
      border: 1px solid @subBlackColor;
      padding: 8px 12px;
      width: 45%;
      box-sizing: border-box;
      margin: 10px 10px;
      text-align: center;
      font-size: @baseFontSize;
      span {
        height: 60px;
        line-height: 60px;
      }
    }
  }
}

.userList {
  border: 1px solid @subBlackColor;
  margin-bottom: 0.5rem;
  position: relative;
  overflow: hidden;
  ul {
    display: flex;
    width: 136%;
    position: relative;
    li {
      flex: 1;
      border: 1px solid;
      text-align: center;
      height: 2rem;
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 0.6rem;
    }
  }
}

.warningStatistics {
  ul {
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 55%;

    li {
      border: 1px solid @subBlackColor;
      border-right: none;
      width: 1.6rem;
      height: 0.6rem;
      display: inline-block;
      line-height: 0.6rem;
      text-align: center;

      &:nth-last-child(1) {
        border-right: 1px solid @subBlackColor;
      }
    }
  }
}